<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ko Aung Htay | Contact</title>
		<link rel="stylesheet" href="/assets/css/style.css">
		<link rel="stylesheet" href="/assets/css/media-queries.css">
	</head>

	<body>
		<div class="container">
			<header class="header">
				<div class="header__block">
					<p class="header__block--small pyidaungsu">ကိုအောင်ဌေး</p>
					<p class="header__block--hero">Grand Hantha
						<span class="pyidaungsu">ဟင်္သာတခရိုင် ကိုယ်စားလှယ်</span>
					</p>
					<nav>
						<ul>
							<li><a href="/">Patient Register Form</a></li>
							<li class="active"><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</header>

			<div class="contact">
				<div class="contact__img">
					<img src="assets/img/me.jpg" alt="image" class="contact__img--img">
				</div>

				<div class="contact__information">

					<span>Phone:<br> 09123456789</span>

					<div class="hr__line--contact"></div>

					<span>Email:<br> ko.aunghtay@gmail.com</span>

					<div class="hr__line--contact"></div>

					<span>Address:<br> No.1, Payargyi yart, Damasayti Road, Hinthada</span>
				</div>
			</div>
		</div>
	</body>

</html>